.mobile-menu-right-off.mobile-header-on #wrapper {
    -webkit-transform: none;
    transform: none;
}

.full_image_wide #top {
    z-index: 10
}

@media(min-width: 992px) {
    .full_image .jma-header-image {
        opacity: 0
    }
}

.jma-header-item.image {
    overflow: hidden;
    /*height: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;*/
}

.full_image_wide.constrict-header #branding>.wrap .jma-header-item.image, #branding>.wrap>.jma-header-item.image.fix-image {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.full_image_wide.constrict-header #access>.wrap {
    padding-left: 0;
    padding-right: 0;
}

.full_image_wide .jma-header-image {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
}

.full_image_narrow .jma-header-image-wrap {
    width: 100% !important;
}

.full_image_wide.constrict-header #main>.wrap {
    padding-left: 20px;
    padding-right: 20px;
}

.full_image_wide .site-main, .full_image_wide #bottom {
    z-index: 19;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    position: relative;
}

.full_image_wide.constrict-header .site-header, .full_image_wide.constrict-header .site-main {
    background: none !important;
}

.jma-custom-wrap, .site-main {
    position: relative;
    z-index: 5;
}

.full_image_wide.constrict-header .jma-custom-wrap {
    padding-left: 20px;
    padding-right: 20px;
}

.full_image_wide.constrict-header .element-section>.element {
    padding-left: 0;
    padding-right: 0;
}

.full_image_wide.expand-header #main, .full_image_wide.expand-header #custom-main {
    max-width: 100%;
    padding: 0
}

.full_image_wide.constrict-header .site-main {
    margin-top: 1000px;
}

.full_image_narrow .site-main {
    margin-top: 0;
}

.full_image_wide.constrict-header #top {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jma-local-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    z-index: 1000;
    padding-left: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
}

/* don't display the menu until jquery is running */
.full_image_wide .jma-local-menu, .full_image_narrow .jma-local-menu {
    display: block
}

.jma-local-menu.fix-local {
    position: fixed;
}

.jma-local-menu li {
    font-size: 16px;
    display: inline-block;
    border-left: solid 1px transparent;
}

@media(max-width:992px) {
    .jma-local-menu li {
        font-size: 12px;
    }
}

.jma-local-menu li a {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    padding: 6px 20px;
    display: inline-block;
}